.vscode

build/*
!build/Release

docs
Doxyfile

frames

CMakeLists.txt.user
CMakeCache.txt
CMakeUserPresets.json
CMakeFiles
CMakeScripts
CTestTestfile.cmake
cmake_install.cmake
Makefile
Testing
install_manifest.txt
compile_commands.json

_deps

*.pdf